{
  "sourceMaps": true,
  "comments": false,
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    ["transform-react-jsx", {
      "pragma": "h" // default pragma is React.createElement
    }]
  ]
}
